<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-properties.dtd">

<configuration>
    <!--通常保留别名管理 typeAliases，以及设置 settings-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="cacheEnabled" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="cn.xyf.pojo"/>
    </typeAliases>

    <mappers>
        <mapper class="cn.xyf.mapper.BookMapper"/>
    </mappers>

</configuration>