<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--https://docs.spring.io/spring/docs/5.2.3.RELEASE/spring-framework-reference/core.html#spring-core-->
    <bean id="hello" class="cn.xyf.Hello">
        <property name="name" value="hello"/>
    </bean>

    <bean id="mysqlImpl" class="cn.xyf.UserMySQLDaoImpl"/>
    <bean id="oracleImpl" class="cn.xyf.UserOracleDaoImpl"/>

    <bean id="serviceImpl" class="cn.xyf.UserServiceImpl">
        <!--注意: 这里的name并不是属性 , 而是set方法后面的那部分 , 首字母小写-->
        <!--引用另外一个bean , 不是用value 而是用 ref-->
        <!--ref 引用 spring 容器中创建好的对象-->
        <property name="userDao" ref="oracleImpl"/>
    </bean>

    <bean id="address" class="cn.xyf.Address">
        <property name="address" value="China"/>
    </bean>

    <bean id="student1" class="cn.xyf.Student">
        <!--普通值注入-->
        <property name="name" value="张三"/>
        <!--Bean 注入 ref-->
        <property name="address" ref="address"/>
        <!--数组注入-->
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>西游记</value>
                <value>三国演义</value>
                <value>水浒传</value>
            </array>
        </property>
        <!--list 注入-->
        <property name="hobbies">
            <list>
                <value>Java</value>
                <value>Python</value>
            </list>
        </property>
        <!--map 注入-->
        <property name="card">
            <map>
                <entry key="idCard" value="12345"/>
                <entry key="creditCard" value="67890"/>
            </map>
        </property>
        <!--set 注入-->
        <property name="games">
            <set>
                <value>LOL</value>
                <value>COC</value>
                <value>BOB</value>
            </set>
        </property>
        <!--null 注入-->
        <property name="wife"><null/></property>
        <!-- properties-->
        <property name="info">
            <props>
                <prop key="gender">male</prop>
            </props>
        </property>
    </bean>

</beans>