<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-properties.dtd">

<configuration>

    <properties resource="db.properties"/>

    <!--通常保留别名管理 typeAliases，以及设置 settings-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <package name="cn.xyf.pojo"/>
    </typeAliases>


    <!--使用spring管理=》spring-dao.xml -->
    <!--
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.user}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    -->

    <!-- sqlSession 中配置 mapperLocations -->
    <!--
    <mappers>
        <mapper class="cn.xyf.mapper.StarUserMapper"/>
    </mappers>
    -->

</configuration>