<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置文件-->
<!--配置文件的大的配置项有顺序-->
<configuration>
    <!--引入外部配置文件，优先使用配置文件中的配置-->
    <properties resource="db.properties">
        <property name="user" value="root"/>
    </properties>

    <settings>
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <!--<typeAlias type="cn.xyf.pojo.StarUser" alias="StarUser"/>-->
        <package name="cn.xyf.pojo"/>
    </typeAliases>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.user}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>

        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="cn/xyf/dao/StarUserDao.xml"/>
        <!--<mapper resource="cn/xyf/mapper/StarUserMapper.xml"/>-->
        <mapper class="cn.xyf.mapper.StarUserMapper"/>
        <mapper class="cn.xyf.mapper.BlogMapper"/>
    </mappers>
</configuration>